<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Our ability to reach unity in diversity will be the beauty and the test of our civilization. </string>
	<string>Diversity is about all of us, and about us having to figure out how to walk through this world together.</string>
	<string>Diversity and inclusion, which are the real grounds for creativity, must remain at the center of what we do.</string>
	<string>When we listen and celebrate what is both common and different, we become a wiser, more inclusive, and better organization.</string>
	<string>An individual has not started living until he can rise above the narrow confines of his individualistic concerns to the broader concerns of all humanity.</string>
	<string>We are all different, which is great because we are all unique. Without diversity, life would be very boring.</string>
	<string>Inclusivity means not ‘just we’re allowed to be there,’ but we are valued. I’ve always said: smart teams will do amazing things, but truly diverse teams will do impossible things. </string>
	<string>When everyone is included, everyone wins.</string>
</array>
</plist>
